  @import url('https://fonts.googleapis.com/css?family=Roboto');

html{
  font-family: 'Roboto', sans-serif;
  color: white;
}
p{font-size: 22px;
}
h1{
  font-size: 45px;
}

h3{
  font-size: 25px;
}

.nav1 {
  position: sticky;
  list-style-type: none;
  overflow: hidden;
  background-color: rgba( 0, 0, 0, 0.87);
  height: 90px;
  width: 100%;
  box-shadow: 2px 13px 15px -2px rgba(0,0,0,0.9);
  z-index: 100;
}


.nav1 img {
  height:82px;
  width: 129px ;

}

.nav2 {
  position: sticky;
  list-style-type: none;
  overflow: hidden;
  background-color: rgba( 0, 0, 0, 0.87);
  height: 90px;
  width: 100%;
  box-shadow: 2px 13px 15px -2px rgba(0,0,0,0.9);
  z-index: 100;
}


.nav2 li p{
  display: block;
  float: right;
  line-height: 90px;

}

.nav2 img {
  display: block;
  float: left;
  height:82px;
  width: 129px ;

}

.nav2 button {
  float: right;
  font-family: 'Roboto', sans-serif;
  width: 196px;
  height: 50px;
  border-radius: 15px;
  border-style: none;
  font-size: 22px;
  color: white;
  background-color: #0973E7;
  margin: 20px 25px 0 40px;
}

.inscription{
  height: 800px;
  background-image: url("../img/retour.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.inscription .cadre{
  margin-right: 40px;
  height: 670px;
  width: 640px;
  background-color: #202020;
  border: 6px solid #0973E7;
  border-radius: 37px;
  display: flex;
  justify-content: center;
  text-align: center;
}

 .formu{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.formu input[type="text"], input[type="mail"], input[type="password"]{
  font-family: 'Roboto', sans-serif;
  width: 480px;
  font-size: 32px;
  cursor: pointer;
  background: transparent;
  color: white;
  border-style: none none solid none;
}

.formu ::placeholder{
  opacity: 1;
}

.formu label{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.formu a{
  font-size: 30px;
  color: white;
}
.formu .center{
  display: flex;
  justify-content: center;
}
.formu input[type="submit"]{
  display: flex;
  font-family: 'Roboto', sans-serif;
  width: 220px;
  height: 70px;
  border-radius: 29px;
  border-style: none;
  font-size: 30px;
  color: white;
  background-color: #0973E7;
  box-shadow: 8px 6px 5px 0px rgba(0,0,0,0.75);
}

/* ACCUEIL SECTION 1 */
.accueil .interface{
  height: 640px;
  width: 100%;
  background-color: #212121;


}
.accueil .description h1{
  padding: 45px 0 25px 75px;
}

.accueil .description h1{
  padding: 45px 0 25px 75px;
}

.accueil .description #txt{
  padding: 0px 0 80px 140px;
}
.accueil .description{
  width: 1060px;

}


.accueil .button{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.accueil .button button{
  height: 137px;
  width: 357px;
  border-radius: 35px;
  border-style: none;
  font-size: 26px;
  color: white;
  background-color: #0973E7;
}
.accueil .button h3{
  line-height: 137px;
  margin: 0 27px 0
}

/* ACCUEIL SECTION 2 */

.accueil .icono {
  height: 240px;
  background-color: #001E3E;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: black;
  box-shadow: 2px -18px 15px -2px rgba(0,0,0,0.9);
  z-index: 100;
}

/* ACCUEIL SECTION 3 */

.accueil .help{
  width: 100%;
  height: 750px;
  background-color: #212121;
  display: flex;
  justify-content: center;
  text-align: center;
}

.accueil .contact{
     width: 100%;
 }
.accueil .row{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 padding-bottom: 40px;
}

.accueil .contact input[type="text"], input[type="mail"], input[type="tel"]{
  width: 360px;
  font-size: 22px;
  cursor: pointer;
  background: transparent;
  color: white;
  border-style: none none solid none;
}

.accueil .contact textarea{
  font-family: 'Roboto', sans-serif;
  width: 1280px;
  height: 280px;
  font-size: 22px;
  cursor: pointer;
  background: transparent;
  color: white;
}

.accueil .contact h1{
  padding: 40px 0 40px 0;
}

.accueil .contact input[type="submit"]{
  font-family: 'Roboto', sans-serif;
  width: 200px;
  height: 65px;
  border-radius: 22px;
  border-style: none;
  font-size: 30px;
  color: white;
  background-color: #0973E7;
  box-shadow: 8px 6px 5px 0px rgba(0,0,0,0.75);

}



/*  connexion */
.connexion{
  width:100%;
  height: 800px;
  background-image: url("../img/termin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.connexion .cadre{
  margin-left: 80px;
  height: 570px;
  width: 640px;
  background-color: #202020;
  border: 6px solid #0973E7;
  border-radius: 37px;
  display: flex;
  justify-content: center;
  text-align: center;
}
/* Detail */
  .detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #212121;
  }
  .detail .info{
    width: 1400px;
    display: flex;
    flex-direction: row;
  }
  .detail .img{
    width: 340px;
    display: flex;
    justify-content: flex-start;
  }

  .detail .img img{
    width:290px;
    height: 400px;
  }
  .detail .infor{
    text-align: left;
  }
  .detail .infor h3{
    margin-bottom: 45px;
  }

  .detail .syno{
    width: 1600px;
    display: flex;
    margin: 45px 0 45px 0;

  }
  .detail .Synop{
    width: 220px;
    text-align: left;
  }

  .detail .txtSyno{

    display:flex;
    text-align: left;
    width: 1480px;
  }
  .detail .bande video{
    width: 1060px;
    margin: 45px 0 45px 0;

  }

/* FOOTER */

.foot{
  height: 150px;
  width: 100%;
  overflow: hidden;
  background-color: rgba( 0, 0, 0, 0.87);
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px -18px 15px -2px rgba(0,0,0,0.9);
}
.foot .coucou{
  width: 450px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
